.landscape-overview {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px; /* Adequate padding around the card */
    margin: 20px; /* Space below the card */
    display: flex;
    align-items: left; /* Aligns the map text vertically */
    flex-direction: column;

  }

  .landscape-content{
    display: flex;
    align-items: center; /* Aligns the map text vertically */
    flex-direction: row;
  }

  .landscape-heading {
    margin: 4px 0px !important
  }