.recent-articles{
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 20px; /* Adequate padding around the card */
        margin: 20px; /* Space below the card */
        display: flex;
        align-items: left; /* Aligns the map text vertically */
        flex-direction: column;
        width: 50%;
    
}

.home-page-subtitle {
    margin: 4px 0px 12px 0px !important
}

.articles-and-graph {
    display: flex;
    flex-direction: row;
    align-items: left; /* Aligns the map text vertically */
}

.flora{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px; /* Adequate padding around the card */
    margin: 20px; /* Space below the card */
    display: flex;
    align-items: left; /* Aligns the map text vertically */
    flex-direction: column;
    width: 40%;
}

.article-heading {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.click-more {
    color: #007bff;
    margin-left: auto;
    cursor: pointer;
    padding-top: 8px;

}