.landscape-map {
    width: 50%;
    padding: 20px 20px 20px 0px;
  }
  
  .map-container {
    position: relative;
    background-image: url('../../../images/landscape-map.gif'); /* Replace with your image path */
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
  }
  
  .region-overlay {
    position: absolute;
    background-color: transparent; /* Make divs invisible */
    cursor: pointer;
    /* Adding a subtle hover effect for region overlays */
    transition: background-color 0.3s ease;
  }
  
  .region-overlay:hover {
    /* A subtle hint on hover to indicate the area is interactive */
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }

  .info{
    font-size: 32px;
  }

  .info-count {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black ;
  }
  
  .info:hover{
    font-weight: bold;
    
  }
  .other-articles-indicator {
    top: 0;
    right: 0;
    color: #333; /* Text color, change as needed */
    font-weight: bold;
    z-index: 10; /* Ensure it's above other elements */
    transition: transform 0.3s, background-color 0.3s; /* Smooth transition for hover effect */
  }